* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Arial, sans-serif;
}

h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

h2 {
  font-size: 0.875rem;
  font-weight: 500;
}

input {
  outline: none;
}

header {
  display: flex;
  align-items: center;
}

header img {
  height: 1.188rem;
  margin-right: 0.5rem;
}

header h1 {
  text-align: center;
}

/* --- */

.container {
  margin: 1.5rem;
}

/* field */

.field {
  position: relative;
  display: inline-block;
  width: 100%;
}

.field__input {
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border: none;
  border-radius: 0.75rem;
  color: #5b5c5e;
  background-color: #eeeff0;
  font-size: 16px;
  line-height: 1.6rem;
  width: calc(100% - 3rem);
}

.field__input:hover {
  background-color: #dcdee0;
}

.field__input:focus,
.field__input:active {
  background-color: #ffffff;
  border: 1px solid #1b1c1e;
}

.field__input--expandable {
  resize: vertical;
}

.field__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #5b5c5e;
  height: 1.125rem;
  width: 1.125rem;
}

/* --- */

.no-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 2.5rem;
}

/* .no-notes .icon {
  margin-bottom: 10px;
}

.no-notes button {
  background-color: #5b35e0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
} */

.note-list {
  list-style-type: none;
  padding: 0;
}

.note {
}

.note__header {
  display: flex;
  justify-content: space-between;
}

.note__header div {
  display: flex;
}

/* .note-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.note-item input,
.note-item textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: #f9f9f9;
  resize: none;
}

.note-item input::placeholder,
.note-item textarea::placeholder {
  color: #999;
}

.note-item button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.note-item button:hover {
  background-color: #e04343;
} */

/* --- */

.add-note-form {
  display: none;
  flex-direction: column;
}

/* .add-note-form input,
.add-note-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.add-note-form input::placeholder,
.add-note-form textarea::placeholder {
  color: #999;
}

.add-note-form button#save-note {
  background-color: #5b35e0;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.add-note-form button#save-note:hover {
  background-color: #482bb1;
} */

/* button */

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}

.icon-button--primary {
  background-color: #6b3c9b;
  color: #ffffff;
}

.icon-button--primary:hover {
  background-color: #844dba;
}

.icon-button--primary:active {
  background-color: #5b2f87;
}

.icon-button--secondary {
  background-color: #ffffff;
  color: #1b1c1e;
  border: 2px solid #bcbcbd;
}

.icon-button--secondary:hover {
  background-color: #e7e7e7;
}

.icon-button--secondary:active {
  background-color: #bcbcbc;
}

.icon-button--ghost {
  color: #0f75b8;
  background-color: transparent;
  font-size: 0.875rem;
}

.icon-button--ghost:hover {
  text-decoration: underline;
}

.icon-button--icon-only {
  background-color: transparent;
  padding: 0;
}

.icon-button--full {
  width: 100%;
}

.icon-button .icon {
  margin-right: 0.5rem;
}

.icon-button.icon-button--icon-only .icon {
  margin-right: 0;
}

.icon-button .icon svg {
  width: 1rem;
  height: 1.25rem;
}
