* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, Arial, sans-serif;
}

h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

h2 {
  font-size: 0.875rem;
  font-weight: 500;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
}

small {
  font-size: 0.75rem;
  font-weight: 400;
  color: #5b5c5e;
}

input {
  outline: none;
}

.container {
  margin: 1.5rem;
}
